@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                Login<span class="caret"></span>
            </a>
            <div class="dropdown-menu login-dropdown">
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()

                    <div class="form-group-sm">
                        <input class="form-control form-control-sm" type="text" placeholder="User" id="UserName" name="UserName">
                    </div>

                    <div class="form-group-sm">
                        <input class="form-control" type="password" placeholder="Password" id="Password" name="Password">
                    </div>                    

                    <div class="form-group-sm">
                        <label class="checkbox-inline" for="RememberMe">@Html.CheckBox("RememberMe") Remember Me?</label>
                    </div>

                    <div class="form-group-sm">
                        <input class="btn btn-primary btn-block btn-sm form-control" type="submit" id="sign-in" value="Login">
                    </div>
                }
            </div>
            @*<ul>
                <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
            </ul>*@

        </li>
    </ul>
}
