@model IEnumerable<NMCT.Models.Review>

@{
    ViewBag.Title = "Reviews Management";
}

<h2>Reviews Management</h2>

@using (Html.BeginForm("Index", "Reviews", FormMethod.Get, htmlAttributes: new { @class = "form form-horizontal" }))
{
    <input type="hidden" value="@ViewBag.SortBy" name="sortby" />

    <div class="form-group form-group-sm">
        @Html.Label("Trail", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-3">
            <select class="form-control" name="trailid">
                <option value=""></option>
                @foreach (NMCT.Models.Trail trail in ViewBag.TrailList)
                {
                    if (@trail.TrailID == ViewBag.TrailID)
                    {
                        <option value="@trail.TrailID" selected>@trail.Name</option>
                    }
                    else
                    {
                        <option value="@trail.TrailID">@trail.Name</option>
                    }
                }
            </select>
        </div>        
    </div>

    <div class="form-group form-group-sm">
        @Html.Label("Search by User Name", htmlAttributes: new {@class = "control-label col-md-2" })
        <div class="col-md-3">
            @Html.TextBox("search", (string)ViewBag.SearchBy, new { @class = "form-control" })
        </div>

        <div class="col-md-2">
            <button type="submit" class="btn btn-sm btn-info">Get Reviews</button>
        </div>
    </div>
}

<table class="table table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.ActionLink(@Html.DisplayNameFor(model => model.Rating).ToString(), "Index", new { sortby = ViewBag.RatingSort, search = ViewBag.SearchBy, trailid = ViewBag.TrailID }, htmlAttributes: new { @class = "filterText" })
            <span class="glyphicon @ViewBag.RatingSortArrow"></span>
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserName)          
        </th>
        <th>
            @Html.ActionLink(@Html.DisplayNameFor(model => model.DateCreated).ToString(), "Index", new { sortby = ViewBag.DateSort, search = ViewBag.SearchBy, trailid = ViewBag.TrailID }, htmlAttributes: new { @class = "filterText" })
            <span class="glyphicon @ViewBag.DateSortArrow"></span>
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr data-toggle="tooltip" data-placement="left" title="Review: @item.Content">
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)<i class='fa fa-star fa-fw'></i>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateCreated)
            </td>
            @if (User.IsInRole("Administrator") || User.IsInRole("Manager"))
            {
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ReviewID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ReviewID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ReviewID })
                </td>
            }
            else if (User.IsInRole("Moderator"))
            {
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ReviewID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ReviewID })
                </td>
            }
            else
            {
                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.ReviewID })
                </td>
            }
        </tr>
    }
</table>

<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>